.app-footer {
  align-items: center;
  background: rgba(16, 15, 15);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 5px 20px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.footer-left {
  flex: 1;
  min-width: 200px;
  text-wrap: nowrap;
}

.footer-content {
  align-items: center;
  display: flex;
  flex: 2;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.footer-link {
  align-self: center;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .footer-link {
    display: none;
  }
}

@media (max-width: 1000px) {
  .app-footer {
    display: none;
  }
}
