.policy-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  margin-top: 100px;
  max-width: 800px;
  padding: 30px;
  text-align: left;
}

html.dark-mode .policy-container {
  background-color: rgba(26, 26, 26, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.policy-container h1 {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
}

html.dark-mode .policy-container h1 {
  color: #e0e0e0;
}

.policy-container h3,
.policy-container h4 {
  color: #333;
  font-size: 1.5rem;
  margin: 15px 0 10px;
}

html.dark-mode .policy-container h3,
html.dark-mode .policy-container h4 {
  color: #ccc;
}

.policy-container p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
}

html.dark-mode .policy-container p {
  color: #aaa;
}

html.dark-mode .policy-container a {
  color: #fff;
}
